<ion-view view-title="Forget Password">
    <ion-header-bar align-title="center" class="button-clear">
        <a class="button button-clear" ng-href="#/login">
            <i class="ion-close-round" ></i>
        </a>
        <h1 class="title">Reset Password</h1>
    </ion-header-bar>
    <ion-content>
        <div class="forget-password">
                <div class="text-center forget-text">
                   <div class="text-center facebook-button">
                    <img width="70" height="70" ng-src="img/forget_flower.png" ng-click="facebookLogin()"/>
                </div>
                    <p class="forget-p">Forget your password?</p>
                    <p>Enter your email below to receive your password reset instructions</p>
                </div>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">EMAIL</span>
                    <input type="text" placeholder="Enter Your Email Address" ng-model="data.email">
                </label>
                
                <div class='button button-full button-dark submit_button' ng-click="forgetPassword()">Send Password</div>
            
        </div>    
    </ion-content>
</ion-view>
