<ion-view class="image" view-title="Image Analysis">
    <ion-content>
        <div class="image_analysis">
            <div class="image">
                <img class='scan_image' src="{{imgURI || 'img/profile.png'}}">
            </div>
            <div class="upload_text">Please Upload A Recent Photo</div>
            <div class="text-center">
                <div class="gallery" ng-click="getImage()">
                      <img style="width: 30px" src="img/gallery.png">
                      <div>Photo Library</div>
                </div>
                <div class="camera" ng-click="captureImage()">
                    <img style="width: 30px" src="img/camera.png">
                    <div>Take A Picture</div>
                </div>
            </div>    
        </div>
    </ion-content>
    
    <ion-footer-bar class="image_analysis" ng-click="beginScan()">
        <div class="button" >
                Begin Scan
        </div>
    </ion-footer-bar>
</ion-view>