<ion-view view-title="Libraries">
    <ion-content>
        <div class="libraries">
            <div class="list">
                <a class="item item-icon-right" href="#">
                    <img width="50" height="50" ng-src="img/default_profile.png" />
                    Herb
                    <i class="icon ion-chevron-right"></i>
                </a>
                <a class="item item-icon-right" href="#">
                    <img width="50" height="50"  ng-src="img/default_profile.png" />
                    Minerals
                    <i class="icon ion-chevron-right"></i>
                </a>
                <a class="item item-icon-right" href="#">
                    <img width="50" height="50"  ng-src="img/default_profile.png" />
                    Amino Acid
                    <i class="icon ion-chevron-right"></i>
                </a>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="libraries" ng-click="beginScan()">
        <div class="button" >
                Add New Library
        </div>
    </ion-footer-bar>
</ion-view>
         