<ion-side-menus enable-menu-with-back-views="true">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable" align-title="center">
			<ion-nav-back-button class="button-clear">
                            <i class="ion-arrow-left-c"></i>{{' '}}
      		</ion-nav-back-button>
            <ion-nav-buttons side="right">
                <button class="button button-icon button-clear" menu-toggle="right">
                    <img src="img/nav-icon.png"  class="nav-icon">
                </button>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>

    <ion-side-menu side="right" style="background:url('../img/body.jpg')">
        <ion-content>
            <div class="text-center menu-head" style='padding:0px !important'>
                <div class="menu-avatar">
                    <img ng-if="user.image" src="{{user.image}}">
                    <img ng-if="!user.image"src="img/default_profile.png">
                </div>
                <div class="user_profile">
                    <p>{{user.first_name+' '+user.last_name}}</p>
                    <p>{{user.email}}</p>
                    
                </div>
            </div>
            <div class="list">
                 <a class="item text-left"  style='background-color:#FFD163' menu-close href="#/app/user_record_one">
                    USER RECORD
                </a>
                <a class="item text-left"  style='background-color:#FFD163' menu-close href="#/app/accessories">
                    ACCESSORIES
                </a>
                <a class="item text-left" style='background-color:#FFD163' menu-close href="#/app/frequency">
                    FREQUENCIES
                </a>
                <a class="item text-left" style='background-color:#FFD163' menu-close href="#/app/supportive">
                    SUPPORTIVE
                </a>
                <a class="item text-left" style='background-color:#FFD163' menu-close href="#/app/libraries">
                    LIBRARIES
                </a>
                <a class="item text-left" style='background-color:#FFD163' menu-close href="#">
                    DATA MINING
                </a>
                <a class="item text-left" style='background-color:#FFD163' menu-close href="#/app/setting">
                    SETTINGS
                </a>
                <a class="item text-left" style='background-color:#FFD163' menu-close  ng-click="logout()">
                    LOGOUT
                </a>
                
            </div>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>