<ion-view view-title="One Time Password">
     <ion-header-bar align-title="center" class="button-clear login">
        <a class="button button-clear" ng-href="#/login">
            <i class="ion-close-round" ></i>
        </a>
        <h1 class="title login-title">One Time Password</h1>
    </ion-header-bar>
    <ion-content>
        <div class="forget-password">
            <div class="list list-inset">
                <label class="item item-input item-stacked-label">
                    <input type="text" placeholder="enter email" name="email" ng-model="data.email" class="inputtag">
                </label>
                <label class="item item-input item-stacked-label">
                    <input type="text" placeholder="Enter OTP" ng-model="data.otp">
                </label>
                <div class='button button-full button-dark submit_button' ng-click="confirmOTP()">Submit</div>
                <div class='button button-full button-dark submit_button' ng-click="resend_confirmOTP()">Resend OTP</div>
            </div>
        </div>    
    </ion-content>
</ion-view>
