<ion-view class="record_past" view-title="past record">
    <ion-content class="has-header">
        <div class="past_record">
            <div class="list">
                <a class="item item-stacked-label item-icon-right" href="#">
                    <p>feb 22,2015</p>
                    <p>12:30 pm</p>
                    <i class="icon ion-chevron-right"></i>
                </a>
                <a class="item item-stacked-label item-icon-right" href="#">
                    <p>feb 22,2015</p>
                    <p>12:30 pm</p>
                    <i class="icon ion-chevron-right"></i>
                </a>
                <a class="item item-stacked-label item-icon-right" href="#">
                    <p>feb 22,2015</p>
                    <p>12:30 pm</p>
                    <i class="icon ion-chevron-right"></i>
                </a>
                <a class="item item-stacked-label item-icon-right" href="#">
                    <p>feb 22,2015</p>
                    <p>12:30 pm</p>
                    <i class="icon ion-chevron-right"></i>
                </a>
                <a class="item item-stacked-label item-icon-right" href="#">
                    <p>feb 22,2015</p>
                    <p>12:30 pm</p>
                    <i class="icon ion-chevron-right"></i>
                </a>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="past_record bar bar-footer text-center">
        <div class="voice_analysis_button button button-dark" ng-click="beginVoiceAnalysis()">Continue With New Analysis</div>
    </ion-footer-bar>  
</ion-view>