<ion-view class='setting' view-title="Settings">
    <ion-content>
        <div class="setting_container">
            <div class="list">
                <div class="item item-divider">
                    ACTION
                </div>
                <div>
                    <div class="item clearfix bg-color">
                   		<i class="icon ion-clipboard"></i>
                    </div>
                    <div>    
                 	  	<label>Print Page</label>
                    </div>
                </div>
                <div class="item clearfix bg-color">
                    <i class="icon ion-email"></i>
                    <label>Email Support</label>
                </div>
                <div class="item clearfix bg-color">
                    <i class="icon ion-email"></i>
                    <label>Facebook Post</label>
                </div>
                <div class="item item-divider">
                    SCAN VOLUME
                </div>
                <div class="item bg-color">
                    <input type="range" name="volume" min="0" max="100" value="33" style="width:100%">
                </div>
                <div class="item item-divider">
                    TEAMVIEWER REMOTE SUPPORT
                </div>
                <div class="item bg-color">
                    <p><a style="color:#000;">http://integrate.teamviewer.com</a></p>
                </div>
                
            </div>
        </div>
    </ion-content>
</ion-view>