<ion-view view-title="Supportive">
    <ion-content>
        <div class="supportive_container">
            <div class="list">
                <a class="item item-icon-right" href="#">
                    MEP
                    <i class="icon ion-chevron-right"></i>
                </a>
                <a class="item item-icon-right" href="#">
                    Bio-Compatibility
                    <i class="icon ion-chevron-right"></i>
                </a>
                <a class="item item-icon-right" href="#">
                    Re-Check
                    <i class="icon ion-chevron-right"></i>
                </a>
            </div>
        </div>
    </ion-content>
</ion-view>