<ion-view class="system_ovrviw" view-title="SYSTEM OVERVIEW">
      <ion-header-bar class="system_overview bar bar-subheader">
        
            <div class="system_overview clearfix">
                
                 <div class="arrow_down">
                     <img src="img/arrow-down.png" ng-show="changeIconBRx" ng-click="showPlayerBRx()">
                    <!--<i class="ion-android-arrow-dropdown" ng-show="changeIconBRx" ng-click="showPlayerBRx()"></i>-->
                </div>
               <div class="arrow_up">
                    <img src="img/arrow-up.png" ng-show="!changeIconBRx" ng-click="hidePlayerBRx()">
                    <!--<i class="ion-android-arrow-dropup" ng-show="!changeIconBRx" ng-click="hidePlayerBRx()"></i>-->
                </div>
               <div class="text_subheader">
                    <span>Balance RX</span>
                </div>
                <div class="arrow_right">
                    <i class="ion-android-arrow-dropright-circle"></i>
                </div>

                <div class="text1_subheader">
                    <p>{{itemCountBRx}} Items,2 Min</p>
                </div>   
           
        </div>
    </ion-header-bar>
    
    <ion-content>
        <div class="system_overview">
            <div ng-show="IsVisibleBRx" style="background-color:lavender" ng-drop="true"  ng-drop-success="onDropCompleteBRx($data,$event)">
                <p>drag and drop here</p>
                <div class="list clearfix">
                    <div class="item text-center" ng-drop="true"  ng-drop-success="onDropComplete($data,$event)" ng-repeat="playItemBRx in playItemsBRx" style="backgrpound-color:#ddd;width:140px;font-size:12px;padding:0px;margin:8px;float:left">
                        {{playItemBRx.title}}
                    </div>
                </div>
                <div class="range range-positive">
                    <input type="range" name="volume" min="0" max="16" value="33" attach-handle-values="true">
                </div>
            </div>
            <div class="list">
                 <a class="item  item-thumbnail-left" id="systemParam{{systemParam.id}}" ng-repeat="systemParam in system_overview"  ng-click="findIndex($index)"ng-drag="true" ng-drag-data="systemParam">
                     <img class='scan_image' src="img/adam.jpg">
                     <h2>{{systemParam.title}}</h2>
                <div class="clearfix">
                    <div class="clearfix"  ng-show="IsVisible">
                        <progress max="999" min="0" style="width:80%;float:left" value="{{randomValue[systemParam.id]}}" > </progress>
                        <label style="float:right;width:20%;line-height:3.642;text-align: center">{{randomValue[systemParam.id]}}</label>
                    </div>
                </div>
                 </a>
            </div>
             <div ng-show="IsVisibleMRx" style="background-color:lavender" ng-drop="true"  ng-drop-success="onDropCompleteMRx($data,$event)">
                <p>drag and drop here</p>
                <div class="list clearfix">
                    <div class="item text-center" ng-drop="true"  ng-drop-success="onDropComplete($data,$event)" ng-repeat="playItemMRx in playItemsMRx | filter:unique:'playItemMRx.title'" style="backgrpound-color:#ddd;width:140px;font-size:12px;padding:0px;margin:8px;float:left">
                        {{playItemMRx.title}}
                    </div>
                </div>
                <div class="range range-positive">
                    <input type="range" name="volume" min="0" max="100" value="33">
                </div>
            </div>
        </div>   
</ion-content>

    <ion-footer-bar class="system_overview bar {{classFooter}}">
        <div class="subHeader clearfix">
            <div class="arrow_down">
                    <img src="img/arrow-down.png" ng-show="!changeIconMRx" ng-click="showPlayerMRx()">
                    <!--<i class="ion-android-arrow-dropdown" ng-show="!changeIconMRx" ng-click="showPlayerMRx()"></i>-->
                </div>
               <div class="arrow_up">
                    <img src="img/arrow-down.png" ng-show="changeIconMRx" ng-click="hidePlayerMRx()">
                    <!--<i class="ion-android-arrow-dropup" ng-show="changeIconMRx" ng-click="hidePlayerMRx()"></i>-->
                </div>
            <div class="text_subheader">
                <span>Multilayer RX</span>
            </div>

            <div class="arrow_right">
                <i class="ion-android-arrow-dropright-circle"></i>
            </div>

            <div class="text1_subheader">
                <p> {{itemCountMRx}} Items,2 Min</p>
            </div>   
        </div>
    </ion-footer-bar>
    
    <ion-footer-bar class="system_overview bar bar-footer" ng-hide="hideScan"  >
        <h1 class="title" style="color:white" ng-click="getRandomValue()" >SCAN</h1>
    </ion-footer-bar>

</ion-view>