<ion-view view-title="{{title}}">
    
    <ion-header-bar class="system_overview bar bar-subheader">
        
            <div class="system_overview clearfix">
                
                 <div class="arrow_down">
                    <i class="ion-android-arrow-dropdown" ng-show="changeIconBRx" ng-click="showPlayerBRx()"></i>
                </div>
               <div class="arrow_up">
                    <i class="ion-android-arrow-dropup" ng-show="!changeIconBRx" ng-click="hidePlayerBRx()"></i>
                </div>
                <div class="text_subheader">
                    <span>Balance RX</span>
                </div>

                <div class="arrow_right">
                    <i class="ion-android-arrow-dropright-circle"></i>
                </div>

                <div class="text1_subheader">
                    <p>{{itemCountBRx}} Items,2 Min</p>
                </div>   
           
        </div>
    </ion-header-bar>
 <ion-content>
        <div class="system_overview_container">
            <div ng-show="IsVisibleBRx" style="background-color:lavender" ng-drop="true"  ng-drop-success="onDropCompleteBRx($data,$event)">
                <p>drag and drop here</p>
                <div class="list clearfix">
                    <div class="item text-center" ng-drop="true"  ng-drop-success="onDropComplete($data,$event)" ng-repeat="playItemBRx in playItemsBRx" style="backgrpound-color:#ddd;width:140px;font-size:12px;padding:0px;margin:8px;float:left" >
                        {{playItemBRx.title}}
                    </div>
                </div>
                <div class="range range-positive">
                    <input type="range" name="volume" min="0" max="100" value="33">
                </div>
            </div>
            <div class="list">
            <a class="item {{param.topClassActive}}" id="param{{param.id}}" ng-repeat="param in paramGroup" ng-click="findIndex($index)" ng-drag="true" ng-drag-data="param" href="#/app/system_overview_three">
                <h2>{{param.title}}</h2>
                <div>
                    <div class="clearfix">
                        <progress max="999" min="0" value="{{random[param.id]}}" > </progress>
                        <label>{{random[param.id]}}</label>
                    </div>
                </div>
            </a>
           
            </div>
            <div ng-show="IsVisibleMRx" style="background-color:lavender" ng-drop="true"  ng-drop-success="onDropCompleteMRx($data,$event)">
                <p>drag and drop here</p>
                <div class="list clearfix">
                    <div class="item text-center" ng-drop="true"  ng-drop-success="onDropComplete($data,$event)" ng-repeat="playItemMRx in playItemsMRx" style="backgrpound-color:#ddd;width:140px;font-size:12px;padding:0px;margin:8px;float:left">
                        {{playItemMRx.title}}
                    </div>
                </div>
                <div class="range range-positive">
                    <input type="range" name="volume" min="0" max="100" value="33">
                </div>
            </div>
        </div>
    </ion-content>
    


    <ion-footer-bar class="system_overview_two system_overview bar bar-footer">
        <div class="subHeader clearfix">
            <div class="arrow_down">
                    <i class="ion-android-arrow-dropdown" ng-show="!changeIconMRx" ng-click="showPlayerMRx()"></i>
                </div>
               <div class="arrow_up">
                    <i class="ion-android-arrow-dropup" ng-show="changeIconMRx" ng-click="hidePlayerMRx()"></i>
                </div>
            <div class="text_subheader">
                <span>Multilayer RX</span>
            </div>

            <div class="arrow_right">
                <i class="ion-android-arrow-dropright-circle"></i>
            </div>

            <div class="text1_subheader">
                <p>{{itemCountMRx}} Items,2 Min</p>
            </div>   
        </div>
    </ion-footer-bar>

</ion-view>