<ion-view view-title="System Overview">
<ion-header-bar class="system_overview bar bar-subheader">
        
         <div class="system_overview_container clearfix">

                <div class="drop_arrow">
                    <i class="ion-android-arrow-dropdown" ng-show="changeIconBRx" ng-click="showPlayerBRx()"></i>
                </div>
               <div class="drop_arrow">
                    <i class="ion-android-arrow-dropup" ng-show="!changeIconBRx" ng-click="hidePlayerBRx()"></i>
                </div>
                <div class="rx">
                    <span>Balance RX</span>
                </div>

                <div class="play_icon">
                    <i class="ion-android-arrow-dropright-circle" style="font-size:30px"></i>
                </div>

                <div class="para">
                        <p>3 Items</p>
                        <p>2 Mins</p>
                    
                </div>   
            </div>
    </ion-header-bar>
    <ion-content>
        <div class="system_overview_container">
            <div ng-show="IsVisibleBRx" style="background-color:lavender" ng-drop="true"  ng-drop-success="onDropCompleteBRx($data,$event)">
                <p>drag and drop here</p>
                <div class="list clearfix">
                    <div class="item text-center" ng-drop="true"  ng-drop-success="onDropComplete($data,$event)" ng-repeat="playItemBRx in playItemsBRx" style="backgrpound-color:#ddd;width:140px;font-size:12px;padding:0px;margin:8px;float:left">
                        {{playItemBRx.title}}
                    </div>
                </div>
                <div class="range range-positive">
                    <input type="range" name="volume" min="0" max="100" value="33">
                </div>
            </div>
            <div class="list">
                <div class="item item-divider">
                    <div class="item item-thumbnail-left">
                        <img class='scan_image' src="img/imageAnalysis.png">
                        <h2>Energy</h2>
                    </div>
                </div>
                   <a class="item" id="energyParam{{energyParam.id}}" ng-repeat="energyParam in energyParamList" ng-drag="true" ng-drag-data="energyParam">
                <h2>{{energyParam.title}}</h2>
                <div class="clearfix">
                    <div class="clearfix">
                        <progress max="999" min="0" value="{{randomEnergyValue[energyParam.id]}}" > </progress>
                        <label>{{randomEnergyValue[energyParam.id]}}</label>
                    </div>
                </div>
            </a>
           
            </div>
            <div ng-show="IsVisibleMRx" style="background-color:lavender" ng-drop="true"  ng-drop-success="onDropCompleteMRx($data,$event)">
                <p>drag and drop here</p>
                <div class="list clearfix">
                    <div class="item text-center" ng-drop="true"  ng-drop-success="onDropComplete($data,$event)" ng-repeat="playItemMRx in playItemsMRx" style="backgrpound-color:#ddd;width:140px;font-size:12px;padding:0px;margin:8px;float:left">
                        {{playItemMRx.title}}
                    </div>
                </div>
                <div class="range range-positive">
                    <input type="range" name="volume" min="0" max="100" value="33">
                </div>
            </div>
        </div>
    </ion-content>
    <ion-footer-bar class="bar bar-footer">
        <div class="system_overview_container clearfix">

                <div class="drop_arrow">
                    <i class="ion-android-arrow-dropup"ng-show="changeIconMRx" ng-click="showPlayerMRx()"></i>
                    <i class="ion-android-arrow-dropdown"ng-show="!changeIconMRx" ng-click="hidePlayerMRx()"></i>
                </div>
                <div class="rx">
                    <span>Multilayer RX</span>
                </div>

                <div class="play_icon">
                    <i class="ion-android-arrow-dropright-circle" style="font-size:30px"></i>
                </div>

                <div class="para">
                        <p>3 Items</p>
                        <p>2 Mins</p>
                    
                </div>   
            </div>
    </ion-footer-bar>
</ion-view>