<ion-view  class="record_two" view-title="User Record">
    <ion-content class="has-header has-footer">
        <div class='user-record'>
                <div class="item item-divider item-stacked-label"><span class="divider">Identifying Wellness Markers</span></div>
                <label class="item item-input" style="opacity:0.5;padding:0px">
                    <textarea  style="color:black" rows="10" placeholder="Please enter your symtoms and detail any specific issues you would like to focus on during your session" ng-model="data.symptoms_detail"></textarea>
                </label>
            <div class="list clearfix" >
                <div class="item item-divider"><span class="divider">Do you suffer from?</span></div>
                <div class="item item-input" ng-repeat="symptom in symptoms" style="width:50%;float:left;opacity:0.5">
                    <div class="row" style="margin:0px">
                        <div class="col col-80" style="padding:20px 0px 20px 0px;border">{{symptom.symptom_name}}</div>
                        <div class="col col-15 suffer-from" style="bottom:3px">
                            <ion-checkbox class="checkbox-positive" checklist-model="suffer_from.selections" checklist-value="symptom.id"></ion-checkbox> 
                        </div>
                    </div>
                </div>
            </div>
           
        </div>

    </ion-content>
    <ion-footer-bar class="user-record">
        <div class="send-detail-button" ng-click="beginVoiceAnalysis()">BEGIN</div>
    </ion-footer-bar>  
</ion-view>