<ion-view class="record" view-title="Clients Records">
    <ion-content>
        <div class="item item-input-inset search-wrapper" style='background-color: transparent;border:none'>
            <label class="item-input-wrapper">
                <input type="text" placeholder="Search" ng-model="search" style='background-color: white;width:100%;border-radius:5px;padding-left:45%'>
                <i class="icon ion-search"></i>
            </label>
        </div>
        <div class="user_records">
            <div class="list card" ng-if="data.users.length" ng-repeat="user in data.users | filter:search"style='background-color:transparent'>
                <div class="item item-avatar item-stacked-label" >
                    <img ng-if="user.record_image" src="{{user.record_image}}" />
                    <img ng-if="!user.record_image" src="img/default_profile.png" />

                    <h2><b>{{user.first_name + ' ' + user.last_name}}</b></h2>
                    <p>{{user.dob}}</p>
                </div>

                <div class="item item-body item-stacked-label">
                    <p class="symptoms_detail">{{user.symptoms_detail}}</p>
                    <p>
                        <a ng-href="#/app/past_record" class="button button-dark" style="width: 49%;font-size:12px">View Past Result</a>
                        <a ng-href="#/app/voice_analysis/{{user.id}}" class="button button-dark" style="width: 49%;font-size:12px;background-color:#00B38C">Start New Analysis</a>
                    </p>
                </div>
            </div>
        </div>    
    </ion-content>
</ion-view>
