/* Comman CSS*/
.pane
{
    background: url(../img/body.jpg) no-repeat center center fixed;
}
.voice.pane
{
    background: url(../img/bg-voice.png) no-repeat center center fixed;
}
.image.pane
{
    background: url(../img/bg-image.png) no-repeat center center fixed;
}
 .record.pane, .record_one.pane, .record_two.pane{
    background: url(../img/user-record-bg.jpg) no-repeat center center fixed;
}

.record_past.pane
{
    background: url(../img/past-record-bg.jpg) no-repeat center center fixed;
 }
 
 .system_ovrviw.pane{
     background: url(../img/system-overview-bg.jpg) no-repeat center center fixed;
 }
.pane, .voice.pane, .image.pane, .record.pane, .record_one.pane, .record_two.pane,.system_ovrviw.pane{
    webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}

.bar-footer{
    background-image: none;
}
.list-inset{
 background: none;   
}
.font-white{
    color:#fff;
}
.title{
    color: #fff;
}
.item-stacked-label{
     background-color: rgba(255, 255, 255, 0.5);
	 border:none;
	 margin-bottom:2px;
}
.item-stacked-label input, .item-stacked-label textarea{
    background-color: rgba(255, 255, 255, 0);
}
.item-input-wrapper
{
    padding:0px !important;
}
.item-input{
    padding: 6px 20px;
}
.text-center{
    text-align:center;
}

.text-right{
    text-align:right;
}
.menu-avatar img{
    height: 50px;
    width:50px;
    border-radius: 50%;
    margin-top: 20px;
}

.button.button-dark{
    background-color: #000;
}
.bar .title{font-size: 20px ;	}
img {max-width: 100% !important;}


/* LoginPage*/
.login .scroll-content {
	top:0;bottom:0;	
	}
.login .bar-footer{border:none}
.login .facebook-login{
    width: 20%;
}
.login .login-link{
    text-align:center;
    color: #fff;
}
.login .login-link .button{
    line-height: 20px;
    min-height: 20px;
	font-size: 18px;
    font-weight: 300;
    letter-spacing: 0.08em;
}
.login .login_button{
    margin: 20px 20px;
	border-radius:3px;
	
}
.login .facebook-button{
    margin: 15px auto 30px;
	padding:0 10px;
}
.login .item {border-width: 0;margin: 0 0 1px;}
.login .input-label{
	font-size:12px;
}
.login .inputtag{
	font-size:12px;
	margin:-5px 0 0;
}
.login .text-center a{
	color:#000;
	font-size:14px;
	margin:-15px 0 0;
}
.login .login-link a{
	color:#fff;
	bottom:0;
	font-size:14px;
}
.login .text-center p{
	text-align:left;
	padding:0 0 0 20px;
	font-size:12px;
}
		
.login-footer{background-color:transparent}
.login-footer .login{width:100%}

/* Forget Password Page */
.forget-password{
	padding:45px 0 0;
}
.bar .button.button-clear, 
.bar button.button-clear {
    color: #fff;
    font-size: 20px;
    font-weight: 100;
    margin: 0px 0px;
    padding-left: 2px;
    padding-right: 2px;
}
.forget-password .button{
    margin: 10px 20px;
}
.forget-password .forget-text{
	margin:20px 20px 40px;
}
.forget-password .forget-text p{
	font-size: 18px;
	font-weight: 300;
	text-align:center;
	padding:10px 0 0 !important;     
	color:rgba(0,0,0,0.7)                          
}
.forget-password .item-input {border: medium none;padding: 6px 20px;}
.forget-password .forget-text p.forget-p{
	font-size: 22px;
	font-weight: 300;
	text-align:center;
	padding:10px 0 0;
	color:#000
}

.forget-password .text-center p{
	text-align:center;
	padding:0 30px;
}
.forget-password .input-label{
	font-size:12px;
}
.forget-password .button{
	border-radius:3px;
	margin:20px 20px 10px;
}
.forget-password .text-center.facebook-button img{width:100px !important; height:100px !important}

/* Activation Account Page */
.account-activation{ margin: 30px 0;}
.account-activation .item-stacked-label {border: medium none; margin-bottom: 2px;}
.account-activation .activate_button, .account-activation .free-trail{margin: 20px;}
.account-activation .text-center p{color:rgba(0,0,0,0.7);font-size:18px;margin-bottom:60px;}
.account-activation .button.button-clear.font-white{color:#fff}
.account-activation .ion-sad-outline{
    font-size: 30px;
}
.account-activation .email-support{
    display: block;
    height: auto;
    margin: 0 auto;
    width: auto;
}
.account-activation .free_trail_div{margin-top:50px !important}
/* Signup Page */

.signup .signup-link .button{
    line-height: 20px;
    min-height: 20px;
}
.signup .item-input {
    border: medium none;
    margin-bottom: 2px;
    padding: 6px 20px;
}
.signup .signup-link {
    text-align: center;
	padding:25px 0 0;
}
.signup .signup-link .button.button-clear.font-white{font-size:18px;}
.signup .signup_button{
    margin: 20px 20px;
	border-radius:3px;
}
.signup .facebook-button{
    margin: 15px auto;
}
.signup .text-center{
	padding:20px 0 0;
}
.signup .text-center p{
	text-align:left;
	padding:0 0 0 20px;
	font-size:12px;
}
.signup .input-label{
	font-size:12px;
}
.signup .item-stacked-label input, .item-stacked-label textarea{
	font-size:12px;
}
.signup a.button{
	font-size:14px;
	color:#fff;
}

/*symptom description page*/

.divider{
    font-size:14px;
}
/*user record list page*/
.search_field
{
    border:1px solid darkgrey !important;
    border-radius:15px !important;
}
.user-records .list.card .item
{
    width:100%;
    background-color:transparent;
    padding-bottom:0px !important;
}

/* User Recode One */
.user-record.bar-footer {
    background-color: transparent;
    border:none;
    width: 100%; 
}
.user-record .send-detail-button{
    background-color: #000;
    color: #fff;
    font-size: 18px;
    line-height: 34px;
    margin: 0 !important;
    text-align: center;
    width: 100%;
}
.user-record .input-label{font-size: 20px; font-weight: 300;    letter-spacing: 0.05em;}
.user-record textarea{
    border:0 solid #ddd;
    margin:0 !important;
	font-size:14px;
    padding:10px 15px;
    text-align:left;
	height:100px;
}

.user-record .suffer-from label{
    border:none;
}
.user-record .list ..item-input{
	padding-left:5px;
}
.user-record .item-divider{background-color:transparent;}
.user-record .item-divider .divider{font-size:16px;color:#fff}
.user-record .list.list-inset div.text-center{text-align:left; margin:30px 0 20px 20px}
.user-record .item-stacked-label {border: medium none; margin-bottom: 2px;}
.user-record .item-stacked-label .divider{font-size:16px;color:#333}
.user-record .checkbox input, 
.user-record .checkbox-icon {height: 22px; width: 22px;}
.user-record .item-checkbox {bottom: 0;padding-left: 30px;position: absolute;right: 0;}
.user-record .checkbox-positive input:checked::before, 
.user-record .checkbox-positive input:checked + .checkbox-icon::before {
    background: #36b050 none repeat scroll 0 0;
    border-color: #36b050;
}
.user-record .checkbox input::after, 
.user-record .checkbox-icon::after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #fff #fff;
    border-image: none;
    border-style: none none solid solid;
    border-width: 0 0 2px 2px;
    content: " ";
    display: table;
    height: 7px;
    left: 16%;
    opacity: 0;
    position: absolute;
    top: 22%;
    transform: rotate(-45deg);
    transition: opacity 0.05s ease-in-out 0s;
    width: 14px;
}
.user-record .checkbox-positive input::before, 
.user-record .checkbox-positive .checkbox-icon::before {
    border-color: #36b050;
}
.user-record .forward{
    float:right;
    width:50px;
    background-color:#00A17E;
    padding:7px 0px 0px 0px;
}
.user-record button.calender img{width:80%;margin-top:15px;}
.user-record .access-record{
    background-color: #00b38c;
    border-radius: 4px;
    overflow: hidden;
    padding: 0;
	border:none
}
.user-record a{
    background-color:#00A17E;
}
.user-record p{
    color:whitesmoke;
}
.user-record .calender{
    float:right;
    background-color:transparent;
}
.user-record .item-input .input::-moz-placeholder, textarea::-moz-placeholder{
	color:#000;
}
.user-record .item-divider{
	padding-bottom:0;
}
/*voice analysis screen*/
.voice_analysis
{
    text-align:center;
}

.voice_analysis progress
{
    width:70%;
}
.voice_analysis div
{
    width:90%;
    margin:0 auto;
    padding:4%;
    font-size:15px;
    color:grey;
}
.voice_analysis div+div{padding:1% 4%;}
.voice_analysis span
{
    color:black;
}
.voice_analysis .ion-play,.voice_analysis .ion-mic-a
{
    font-size:40px;
    color:#fff;
}
.voice_analysis .play,.voice_analysis .record{
    float: left;
    width: 50%;
	padding:0 4%
}
.voice_analysis .upload_button {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-size: 18px;
    line-height: 40px;
    background-color: black;
    color: white;
}

.voice_analysis.bar-footer button .icon::before
{
    font-size:40px;
    line-height: 40px;
}
.voice_analysis.bar-footer {
    padding: 0px;
    width: 90%;
    margin: 0 auto;
    background-color: #000;
    bottom:10px;
}
.voice_analysis .timer{
    font-size: 20px;
    font-weight: bold;
}
.voice_analysis .timer label{
    font-size: 40px;
    color: #000;
	line-height:40px;
}
.voice_analysis .timer p{color:#000;margin-bottom:0;font-size: 14px;    line-height: 14px;}
.voice_analysis progress { margin: 10px auto 0;}
.voice_analysis .visualizer{
    height: 100px;
    background: red;
}
.voice_analysis .play p{
    color: #fff;
}
.voice_analysis .record p{
    color: #fff;
}
.voice_analysis.bar.bar-subfooter.bar-footer {
    bottom: 60px;
}
.popup-buttons
{
    padding:10px !important;
    margin:0px !important;   
}
.popup-buttons .button {
    background-color: darkgrey;
    font-size: 15px;
}

@media (min-width:360px) and (max-width:1024px){
	.voice_analysis div + div {padding:5% 4%;}	
	}
/*accessories page*/

.accessory_container .item-divider
{
    font-size:14px;
}
.accessory_container .item span
{
    font-size:13px;
}
.accessory_container .col
{
    background-color:lavender;
    border:1px solid black;
}
.accessory_container .item-divider
{
    width:90%;
    margin-left:10px !important;
}
.accessory_container .row
{
    padding:0px !important;
    margin:10px !important;
}
/*supportive page*/
.accessory_container .ion-chevron-right
{
    font-size:20px !important;
}
.accessory_container .ion-email,.accessory_container .ion-clipboard
{
    font-size:40px !important;
}
.clearfix{
    display:block;
}
.clearfix:after{
    content:".";
    height:0;
    clear:both;
    visibility:hidden;
    display:block;
}
/*frequency page*/
.frequency_container .row{
    margin: 10px auto;
}

.frequency_container .col{
     border:1px solid black;
     background-color:lavender;
     text-align:center;
}
 .frequency_container .active {
    background-color:skyblue !important;
}
/*setting page*/
.setting_container i,.setting_container label{
    float:left;
    width:40px;
}
.setting_container .item-divider
{
    font-size:14px;
    color:grey;
}
/*menu page*/
.text-center.menu-head
{
    background:url(../img/menu-header.jpg);
    webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
}
.text-center.menu-head .menu-avatar{
	position:relative;
	top:50px;
	left:12px;
	text-align:left;
}
.text-center.menu-head .user_profile{
	position:relative;
	left:70px;
	text-align:left;
	color:#fff;
	padding:0 0 30px 0;
}
 .list .item.text-left {
    border: 1px solid #a6b93e;
}
.user_profile .button,.user_profile p
{
    margin:0px !important;
}
.user_profile p
{
    padding:0px !important;
}
 img.nav-icon
 {
    width:30px;
 }
/*mind-analysis page*/
/*.system_overview
{
    background-color:lavender !important;
}*/
.system_overview_container p,.system_overview_container a
{
    margin:0px;
    padding:0px;
    font-size:10px;
    line-height:15px;
}

.system_overview_container .para
{
    float:right;
    width:60px;
    line-height:30px;
    border-right:1px solid grey;
}
.system_overview_container .play_icon
{
    float:right;
    padding:0px 10px 0px 10px;
}
.system_overview_container .rx
{
    float:left;
    width:120px;
    line-height:30px;
}
.system_overview_container .drop_arrow
{
    float:left;
    font-size:30px;
}
.system_overview_container h2
{
    font-size:14px;
    line-height:20px;
}
.system_overview.bar-footer
{
    padding:0px !important;
}
.system_overview_container progress 
{
    margin: 0px 5px 0px 0px;
    float: left;
    width:90%;
}
.system_overview_container
{
    width:100%;
}

.image_analysis{
	text-align:center;
}
.image_analysis .image{
	background-color:rgba(255,255,255,0.5);
	opacity:1.0;
	height:300px;
}
.image_analysis .scan_image {
    width:100%;
    height:300px;
	/*max-width:100px;
	margin:20px 0 0;*/
}

.image_analysis .upload_text {
    text-align: center;
    padding: 20px;
    color:#fff;

}

.image_analysis .gallery,.image_analysis .camera
{
    display: inline-block;
    margin: 15px 30px 0;
    color: #fff;
}
.image_analysis .gallery i,.image_analysis .camera i
{
    font-size: 30px;
    color: white;
}

.image_analysis .button
{   
    width:60%;
    margin:0 auto;
    padding:5px;
}

.image_analysis .button.button-icon {
    font-size: 40px;
}

.image_analysis .button.clearfix {
    background: none;
}

.image_analysis .button {
    margin: 0px;
    padding: 0px;
    width: 100%;
    font-size: 18px;
    line-height: 35px;
    background-color: black;
    color: white;
}

.image_analysis.bar-footer {
    padding: 0px;
    width: 90%;
    margin: 0 auto;
    background-color: #000;
    bottom:15px;
}

.system_overview .subHeader {
    background: #FFF8E3;
    height: 100%;
    width: 100%;
}

.system_overview .arrow_down {
    float: left;
    margin-left: 15px;
    margin-right: 15px;
	margin-top:5px;
}
.system_overview .text_subheader {
    float: left;
	padding:5px 0 0;
}
.system_overview  .subHeader .text_subheader{
	padding:10px 0 0;
} 
.system_overview .text1_subheader {
    float: right;
    padding:6px 0 0;
}
.system_overview .subHeader .text1_subheader{
	padding:10px 0 0;
}

.system_overview .arrow_right {
    float: right;
    margin-left:10px;
    font-size: 30px;
    padding:0px 10px 0px 10px;
    border-left:1px solid black;
}
.system_overview  .subHeader .arrow_right{
	margin-top:6px;
}

.system_overview .subHeader .arrow_up {
    float: left;
    margin-left: 20px;
	margin-top:10px;
}

.system_overview .list {
    margin-bottom: 0px;
}

.system_overview.bar.bar-footer {
    padding: 0px;
    background-color: black;
   
}
.system_overview.bar.bar-subfooter{
    padding: 0px;  
}


.system_overview p
{
    margin:0px;
    padding:0px;
    font-size:10px;
}

.system_overview_two progress 
{
    margin: 0px 5px 0px 0px;
    width:90%;
    float: left;
}
.system_overview.bar.bar-subheader.bar-header {
    background: #FFF8E3;
	padding-right:
}

.system_overview_two.system_overview.bar.bar-footer {
    padding: 0px;
    
}

.system_overview_two h2,.system_overview h2{
    margin: 6px 0px 19px;
}
.system_overview a{
     background-color: rgba(255, 255, 255, 0.5);
	 border:#95bb3b 1px solid;
}
.system_overview .list .item-thumbnail-left .scan_image{
	width:70px;
	height:70px;
	margin:4px 0 0 10px;
	border-radius:50%;
	border:#95bb3b 1px solid;
}
.system_overview .list .item-thumbnail-left h2{
	padding:30px 0 0;
	margin:0;
}

/* user-records Page */
.user-records .item-body{
    padding-top: 0px;
    border-top: 0px;
}
.user-records .item-body .symptoms_detail{
    margin-top: 0px;
}
.user-records .item-body .button{
    font-size: 14px;
    line-height: 16px;
    padding: 5px 12px;
}
.user-records .item-avatar{
    padding-bottem: 0px;
    border-bottem: 0px;
}
.user-records .list.card
{
    background-color:transparent;
}
.user-record .list .item.item-input{
	border:#84b33f 1px solid;
}
.user-record .list .item-divider{border:#84b33f 1px solid;background-color:#84b33f;padding-bottom:8px; }
.user-record .item-divider{
	background-color:rgba(255,255,255,0.5);
	border:none;
	margin:0;
}
.user-record .list .item-divider{
	
}
.user_records .item.item-avatar img{width:auto  }
.search-wrapper .ng-pristine.ng-untouched.ng-valid{padding-left:0 !important;text-align:center;width:100%; color:#000;}
.item.item-input-inset .item-input-wrapper{padding-left:0; padding-right:0}
.item.item-input-inset .icon.ion-search{color: #8d8d93;
    left: 50%;
    margin-left: -35px;
    margin-top: -10px;
    position: absolute;
    top: 50%;}
.user_records .card,.user_records .list-inset {
    background-color: #fff;
    border-radius: 2px;
    margin:0;
    border-bottom: 1px solid black;
    overflow: hidden;
}
.user_records .button{font-size: 13px !important;}
.user_records .item-body p{margin-top:0}
.card .item {
    border: medium none;
    margin-bottom: 1px;
}
/*past record page*/
.past_record i
{
    font-size:20px !important;
}
.past_record .voice_analysis_button
{
    color: #fff;
    line-height: 30px;
    text-align: center;
    padding-top:4px;
    width: inherit;
	padding:0 0 0 35px;
}
.past_record.bar-footer {
    padding: 0px;
    width: 90%;
    margin: 0 auto;
    background-color: #000;
    bottom:4px;
}
.past_record .item-stacked-label .input-label, .item-stacked-label .icon{
	padding:28px 0 0;
}
.bar-stable.bar.bar-header {
    background-color: transparent !important;
    border: none;
}
.bar.bar-stable .title {
    color: #fff;
}
/*.bar-stable .button.button-icon {
    background: #transparent none repeat scroll 0% 0%;
    color: #fff;
}*/

.bar-stable .button.back-button.buttons.button-clear.header-item.ng-binding {
    color: #fff !important;
}
.bar-stable .button.button-clear {
    border-color: transparent;
    background: none;
    box-shadow: none;
    font-size: 29px;
    margin-left: 5px;
}

