<ion-view view-title="Accessories">
    <ion-content>
        <div class="accessory_container">
            <div class="list">

                <div class="item item-divider">
                    AVATOR SETTINGS
                </div>
                <div class="item item-stacked-label range range-positive">
                    <span class="input-label">RED LED</span>
                    <input type="range" name="volume" min="0" max="100" value="33">
                </div>
                <div class="item item-stacked-label range range-positive">
                    <span class="input-label">BLUE/GREEN LED</span>
                    <input type="range" name="volume" min="0" max="100" value="33">
                </div>
                <div class="item item-divider">
                    OTHER SETTINGS
                </div>
                <div class="item item-toggle">
                    <label>Quanta Capsule</label>
                    <label class="toggle toggle-positive">
                        <input type="checkbox">
                        <div class="track">
                            <div class="handle"></div>
                        </div>
                    </label>
                </div>
                <div class="item clearfix">
                    <label style="float:left;width:90px">Genius 3D</label>
                    <button class="button button-small button-dark" style="float:right;width:100px">
                       Request
                    </button>
                </div>
                <div class="item">
                    <label>Brain Wave EEG</label>
                </div>
            </div>
        </div>
    </ion-content>
</ion-view>