<ion-view view-title="Account Activation">
    <ion-content>
        <div class='account-activation'>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">EMAIL</span>
                    <input type="text" placeholder="Enter Your Email Address" name="email" ng-model="data.email" >
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">Activation Code</span>
                    <input type="text" placeholder="Enter Activation Code" ng-model="data.activation_key">
                </label>
                
                <div class="button button-full button-dark activate_button" ng-click="accountActivation()">Activate Your Account</div>
                <div class="text-center">
                    <img width="25" height="25" class="email-support" ng-src="img/sad.png" />
                    <p>Activation Failed ? </p>
                    <img width="24" height="35" class="email-support" ng-src="img/email-support.png" />
                    <div class="button button-clear button-full font-white " ng-click="accountActivation()">Email Support</div>
                </div>
                <div class="free_trail_div" style="margin-top:100px">
                    <a ng-if="status!=='2'" ng-href="#/app/user_record_one" class="button button-full button-positive free-trail" style="margin-top:30px">Free Trail?</a>
                </div>
        </div>
    </ion-content>
</ion-view>