<ion-view view-title="Frequencies">
    <ion-content>
        <div class="frequency_container">
            <div class="item item-divider">
                WAVE INTENSITY
            </div>
            <div class="row">
                <div class="col active">Default</div>
                <div class="col">x10</div>
                <div class="col">x25</div>
                <div class="col">x50</div>
            </div>
            <div class="item item-divider">
                WAVE SHAPE
            </div>
            <div class="row">
                <div class="col active">Solution Wave</div>
                <div class="col">Harmonic Wave</div>
            </div>
            <div class="item item-divider">
                WAVE FORM
            </div>
            <div class="row">
                <div class="col active">sine</div>
                <div class="col">square</div>
                <div class="col">sawTooth</div>
                <div class="col">Alternating</div>
            </div>
        </div>
    </ion-content>
</ion-view>
         