<ion-view view-title="Settings">
    <ion-content>
        <div class="setting_container">
            <div class="list">
                <div class="item item-divider">
                    ACTION
                </div>
                <div class="item clearfix">
                    <i class="icon ion-clipboard"></i>
                    <label>Print Page</label>
                </div>
                <div class="item clearfix">
                    <i class="icon ion-email"></i>
                    <label>Email Support</label>
                </div>
                <div class="item clearfix">
                    <i class="icon ion-email"></i>
                    <label>Facebook Post</label>
                </div>
                <div class="item item-divider">
                    SCAN VOLUME
                </div>
                <div class="item">
                    <input type="range" name="volume" min="0" max="100" value="33" style="width:100%">
                </div>
                <div class="item item-divider">
                    TEAMVIEWER REMOTE SUPPORT
                </div>
                <div class="item">
                    <p><a>http://integrate.teamviewer.com</a></p>
                </div>
                
            </div>
        </div>
    </ion-content>
</ion-view>