<ion-view view-title="Sign Up">
    <ion-header-bar align-title="center" class="button-clear">
        <a class="button button-clear font-white" ng-href="#/login">
            <i class="ion-android-arrow-back" ></i>
        </a>
        <h1 class="title">Sign Up</h1>
    </ion-header-bar>
    <ion-content>
        <div class='signup'>
                <div class="text-center facebook-button">
                    <img width="320" height="50" ng-src="img/facebook_signup.png" />
                </div>
                <div class="text-center">
                    <p>OR SIGNUP USING EMAIL</p>
                </div>
                
                <label class="item item-input item-stacked-label">
                    <span class="input-label">FIRST NAME</span>
                    <input type="text" placeholder="First Name" ng-model="data.first_name">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">LAST NAME</span>
                    <input type="text" placeholder="Last Name" ng-model="data.last_name">
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">EMAIL</span>
                    <input type="text" placeholder="Enter Your Email Address" name="email" ng-model="data.email" >
                </label>
                <label class="item item-input item-stacked-label">
                    <span class="input-label">PASSWORD</span>
                    <input type="password" placeholder="Enter Password" ng-model="data.password">
                </label>
                
                <div class="button button-full button-dark signup_button" ng-click="signup()">Sign Up</div>
                <div class="signup-link">
                    <a class='button button-clear font-white' ng-href="#/login">Already Member ? Login</a>
                </div>
            </div>
    </ion-content>
</ion-view>