<ion-view view-title="SYSTEM OVERVIEW">
    
    <ion-header-bar class="system_overview bar bar-subheader">
        
            <div class="system_overview clearfix">
                
                <div class="arrow_down">
                    <i class="ion-android-arrow-dropdown"></i>
                </div>
                <div class="text_subheader">
                    <span>Balance RX</span>
                </div>

                <div class="arrow_right">
                    <i class="ion-android-arrow-dropright-circle"></i>
                </div>

                <div class="text1_subheader">
                    <p>3 Items</p>
                    <p>2 Mins</p>
                </div>   
           
        </div>
    </ion-header-bar>

    <ion-content>
        <div class="system_overview_two">
            <div class="list">

                <a class="item item-thumbnail-left" ng-click="getRandomValue()">
                    <img class='scan_image' src="img/adam.jpg">
                    <h2 style="line-height:20px">Mind</h2>                    
                    <div class="clearfix">
                        <progress max="999" min="0" value="{{randomValue[0]}}" > </progress>
                        <label>{{randomValue[0]}}</label>
                    </div>
                </a>

                <a class="item item-thumbnail-left">
                    <img class='scan_image' src="img/adam.jpg">
                    <h2>Body</h2>
                    <div class="clearfix">
                        <progress max="999" min="0" value="{{randomValue[1]}}" > </progress>
                        <label>{{randomValue[1]}}</label>
                    </div>
                </a>

                <a class="item item-thumbnail-left">
                    <img class='scan_image' src="img/adam.jpg">
                    <h2>Energy Fields Solfggios</h2>
                    <div class="clearfix">
                        <progress max="999" min="0" value="{{randomValue[2]}}" > </progress>
                        <label>{{randomValue[2]}}</label>
                    </div>
                </a>

                <a class="item item-thumbnail-left">
                    <img class='scan_image' src="img/adam.jpg">
                    <h2>Etheric</h2>
                    <div class="clearfix">
                        <progress max="999" min="0" value="{{randomValue[3]}}" > </progress>
                        <label>{{randomValue[3]}}</label>
                    </div>
                </a>

                <a class="item item-thumbnail-left">
                    <img class='scan_image' src="img/adam.jpg">
                    <h2>Libraries</h2>
                    <div class="clearfix">
                        <progress max="999" min="0" value="{{randomValue[4]}}" > </progress>
                        <label>{{randomValue[4]}}</label>
                    </div>
                </a>
            </div>
        </div>   

    </ion-content>


    <ion-footer-bar class="system_overview_two system_overview bar bar-footer">
        <div class="subHeader clearfix">
            <div class="arrow_up">
                <i class="ion-android-arrow-dropup"></i>
            </div>
            <div class="text_subheader">
                <span>Multilayer RX</span>
            </div>

            <div class="arrow_right">
                <i class="ion-android-arrow-dropright-circle"></i>
            </div>

            <div class="text1_subheader">
                <div>
                    <span>3 Items</span>
                </div>
                <div>
                    <span>2 Mins</span>
                </div>
            </div>   
        </div>
    </ion-footer-bar>

</ion-view>