<ion-view class='voice' view-title="Voice Analysis">
    <ion-content>
        <div class="voice_analysis">
            <div>When ready,repeat the Vowels <span><br>
                    <b>A</b>,<b> E</b>,<b> I</b>,<b> O</b>,<b> U</b></span> slowly</div>
            <div class="visualizer">
                
            </div>
            <div class="status">
                <progress max="100" value="{{time*(100/recordingDuration)}}"> </progress>
            </div>
            <div class="timer">
                <label>{{time}}</label>
                <p>seconds</p>
            </div>
            <div class="buttons clearfix">
                <div class='play'>
                    <button class="button button-icon" ng-click="playRecord()" ng-show="play" ng-disabled="hide">
                        <img style="width: 30px" src="img/play-w.png">
                    </button>
                    <p ng-show="play">Play</p>
                    <button class="button button-icon" ng-click="pause()" ng-show="!play" ng-disabled="hide">                     
                        <img style="width: 30px" src="img/play-w.png">
                    </button>
                    <p ng-show="!play" >Pause</p>
                </div>
                <div class="record" ng-click="startRecord()">
                    <button class="button button-icon" > 
                        <img style="width: 30px" src="img/record-w.png">
                    </button>
                    <p>Record</p>
                </div>
            </div> 
        </div>
        
    </ion-content>
    
        
    <ion-footer-bar class='voice_analysis bar bar-subfooter'>
       <div class="button upload_button" ng-click="startAnalysis()">
                Start Analysis
        </div>
    </ion-footer-bar>
    
    <ion-footer-bar class="voice_analysis">
        <div class="button upload_button" ng-click="remoteVoiceUpload()">
                <img style="width: 15px" src="img/upload-icon.png">
                Upload Remote Voice
        </div>
    </ion-footer-bar>
</ion-view>